@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    header nav {
        margin-bottom: 10px;
    }
    .filme-capa .titulo {
        font-size: 1.125rem;
    }
    .filme-capa .descricao {
        width: 65%;
        font-size: .925rem;
    }
    .filme-capa .botao {
        margin-right: 0;
    }
    .box-filme {
        height: 80%;
        margin: 0 auto;
    }
    .owl-carousel .owl-item img {
        width: 80%;
    }
    .login {
        background-image: none;
        background: var(--full-preto);
    }
    .login .logo {
        font-size: 1.85rem;
        font-weight: 600;
        margin: 10px 0 0 15px;
    }
    form {
        margin-top: 5px !important;
        padding: 40px 25px;
    }
    .main-login .container {
        width: 100vw;
    }
}

@media screen and (max-width: 900px) {
    .filme-capa .botao {
        margin-right: 0;
    }
    .filme-capa .descricao {
        width: 65%;
        font-size: 1rem;
    }
    form {
        margin-top: 100px;
    }
}