@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
//
$vermelho: #E50914;
$preto: #141414;
$cinza-claro: #AAA;
$branco: #ffffff;
$background-botao: #333;
$texto-login: #8c8c8c;
$full-preto: #000000;
$botao: rgba(0,
0,
0,
.50);